
.marko--select-container {
  position: relative;

  .marko--select-input {
    position: relative; 
    z-index: 1; 
    width: 100%;
    background: white;
    border: 1px solid rgba(165, 165, 177, .5);
    overflow: hidden;

    & > div {
      position: relative;
      z-index: 1;

      input {
        width: 100%;
        background: none;
        border: none;
        box-shadow: none;
        padding: 10px 15px;
        outline: 0;
      }
      button { 
        background: none;
        margin-top: 1px!important;
    
        i {
          display: inline-block;
          margin-top: -3px;
          transition: .6s;

          &.up { transform:r otateX(-180deg); }
        }
      }
    }

    .marko--select-menu {
      position: relative;

      ul {
        list-style: none;
        margin: 0;
        padding:0;

        li.option-item {
          padding: 10px 15px;

          &:hover,
          &.selected { background: rgb(221, 222, 235) }
        }
      }
    }
  }
}